/* .netflix-header {
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.netflix-header.scrolled {
  background-color: #000;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-medium);
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: rgb(179, 175, 175);
}

nav a:focus {
  font-weight: bold;
}

.dropbtn {
  display: none;
}

.dropdown-content {
  display: flex;
  cursor: pointer;
}

.user-logo-drop {
  width: 35px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.dropdown-content-su {
  display: none;
  position: absolute;
  background-color: #000000d5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0.5px;
}

.dropdown-su:hover .dropdown-content-su {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

@media (max-width: 768px) {
  .header-container {
    padding: var(--space-small);
  }

  nav a {
    font-size: 12px;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    display: flex;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .link-container:hover {
    background-color: #3434348f;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn,
  .dropdown-su:hover .dropbtn {
    background-color: transparent;
  }

} */

.user-logo-drop {
  width: 35px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.netflix-header {
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.netflix-header.scrolled {
  background-color: #000;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-medium);
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: rgb(179, 175, 175);
}

nav a:focus {
  font-weight: bold;
}

.dropbtn {
  display: none;
}

.dropbtn-su {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  display: flex;
  align-items: center;
}

.dropdown-su:hover .dropbtn-su {
  background-color: transparent;
}

.dropdown-content {
  display: flex;
  cursor: pointer;
}

.dropdown-content-su {
  display: none;
  position: absolute;
  background-color: #000000d5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0.5px;
}

.dropdown-su:hover .dropdown-content-su {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

@media (max-width: 768px) {
  .header-container {
    padding: var(--space-small);
  }

  nav a {
    font-size: 12px;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    display: flex;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .link-container:hover {
    background-color: #3434348f;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: transparent;
  }

}
