.carousel {
  position: relative;
  overflow: scroll;
  margin: 0 auto;
  margin-left: 30px;
}

.carousel__inner {
  display: flex;
}

.carousel__item {
  flex: 0 0 25%;
  margin-right: 10px;
  display: flex;
  height: 100px;
}

.carousel__item img {
  object-fit: cover;
}

.movie-img {
  margin-left: -8%;
}

@media (min-width: 768px) {
  .carousel__item {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .carousel__item {
    height: 200px;
  }
}
