@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

html {
  font-family: Helvetica,Roboto,Ubuntu,sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}