.signup-page {
  background-color: var(--netflix-white);
  height: 100vh;
  line-height: 1.4;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: var(--space-medium);
}

.signup-header button {
  background-color: transparent;
  color: var(--netflix-black);
  font-weight: bold;
  padding: 0;
  border-radius: 0;
}

.signup-header button:hover {
  border-bottom: 1px solid var(--netflix-black);
}

.signup-page .auth-container input {
    color: var(--netflix-black)
  }

.signup-page p,
.signup-page h1  {
  color: var(--netflix-black);
}
